*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $blog-bg;
  font-family: $subtitle-font;
  width: 100%;
  padding-left: 2em;
  font-weight: 400;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}


